.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    margin: 20px;
    padding: 20px;
    border: none;
    color: rgb(190, 151, 157);
    background: linear-gradient(to bottom right, rgb(0, 13, 255), rgb(128, 0, 98));
    box-shadow:
      3px 2px 3px 0px rgb(255, 20, 231),
      -3px -1px 2px 0px rgb(0, 119, 255),
      2px 2px 1px 0px rgb(0, 255, 255);
    border-radius: 50px;
    cursor: pointer;
    font-weight: 900;
    font: 1.2em sans-serif;
    transition: all ease 0.2s;
}
button:hover{
    margin: 20px;
    padding: 25px;
    border: none;
    color: rgb(199, 187, 189);
    background: linear-gradient(to bottom right, rgb(21, 0, 255), rgb(195, 12, 152));
    box-shadow:
      3px 2px 3px 0px rgb(255, 20, 231),
      -3px -1px 2px 0px rgb(0, 119, 255),
      2px 2px 1px 0px rgb(0, 187, 255), ;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 900;
    font: 1.3em sans-serif;
    
}
h1{
    color: rgb(213, 86, 86);
    text-align: center;
    cursor: no-drop;
    
}
body{
   background-color: bisque;
   
}
p{
    text-align: center;
}